<div class="ui main text container">
  <h1 class="ui header">INSITE - The FROST Job Manager</h1>
</div>

<div
    class="ui borderless main menu fixed"
    style="position: fixed; top: 0px; left: auto; z-index: 10;"
>
  <div class="ui text container">
    <div class="header item">
      <img
          class="logo"
          src="assets/insite.png"
          width="32"
          alt=""
      />
      INSITE
    </div>
    <a
        class="item"
        routerLink="/home"
        routerLinkActive="active"
    >Home</a>
    <a
        class="item"
        routerLink="/jobs"
        routerLinkActive="active"
    >Jobs</a>
    <a
        class="item"
        routerLinkActive="active"
        routerLink="/job-submission"
    >New</a>

    <!-- <div class="right menu"> -->

      <!-- <a href="http://localhost:4200/" target="_blank" class="item"><img src="assets/images/frozone.jpg" class="small icon"/> <strong>Frozone</strong></a> -->
    <!-- </div> -->
  </div>
</div>
