version: '3.7'

services:

    insite:
        image: anthonyrawlinsuom/insite-dss
        command: ['node', 'monitor.js']
        environment:
          - PG_USER=postgres
          - PG_HOST=10.101.95.197
          - PG_PASSWORD=sultanofflame
          - PG_DATABASE=WebFrostJobQueue_test1
          - PG_PORT=5432
          - PROTOCOL=https
          - WEB=insite.dss.cloud.bushfirebehaviour.net.au
        ports:
          - 8181:8181

        networks:
            - traefik-network
            - insite-network
        deploy:
            mode: replicated
            replicas: 1
            placement:
                constraints:
                  - node.role == manager
                  - node.labels.NFS == attached
            labels:
              - traefik.frontend.rule=Host:insite.dss.cloud.bushfirebehaviour.net.au
              - traefik.backend.loadbalancer.swarm=true
              - traefik.docker.network=traefik-network
              - traefik.enable=true
              - traefik.frontend.passHostHeader=true
              - traefik.port=8181
              - traefik.redirectorservice.frontend.entryPoints=http
              - traefik.redirectorservice.frontend.redirect.entryPoint=https
              - traefik.tags=traefik-network
              - traefik.webservice.frontend.entryPoints=https

networks:
    insite-network:
        driver: overlay
        attachable: true
    traefik-network:
        external: true
