version: '3.7'

services:
    # redis:
    #     image: redis
    #     ports:
    #       - 6380:6379
    #     volumes:
    #       - /nfs/pyromancer/Personal/Tony/CLOUD/redis/data:/data
    #     networks:
    #         - insite-network

    app:
        image: anthonyrawlinsuom/insite-dss
        ports:
          - 8181:8181
        volumes:
          # - /nfs/pyromancer/Projects/DSS/data/insite/queue:/usr/src/app/queue
          # - /nfs/pyromancer/Projects/DSS/data/insite/executable:/usr/src/app/executable
          - ./data/insite/queue:/usr/src/app/queue
          - ./data/insite/executable:/usr/src/app/executable
          - ./data/insite/database:/usr/src/app/database
        networks:
            - staging-network
            # - insite-network
        deploy:
            placement:
                constraints:
                  - node.role == manager
                  - node.hostname == Charcoal
                  # - node.labels.NFS == attached
            labels:
              - "traefik.enable=true"
              - "traefik.http.routers.insite.rule=Host(`insite.lightning.deepblack.cloud`)"
              - "traefik.http.routers.insite.entrypoints=web-secured"
              - "traefik.http.routers.insite.tls.certresolver=letsencryptresolver"
              - "traefik.http.services.insite.loadbalancer.server.port=8181"
              - "traefik.http.services.insite.loadbalancer.passhostheader=true"
              - "traefik.docker.network=staging-network"
    # db:
    #     image: postgres
    #     environment:
    #       POSTGRES_PASSWORD: example
    #       PGDATA: /var/lib/postgresql/data/pgdata
    #     volumes:
    #       - ./data/insite/postgres:/var/lib/postgresql/data
    #     networks:
    #       - insite-network
    #     ports:
    #       - "5432:5432"
    #     deploy:
    #         mode: replicated
    #         replicas: 1
    #         placement:
    #             constraints:
    #               - node.role == manager
    #               - node.hostname == Charcoal
    #         labels:
    #           - traefik.frontend.rule=Host:db.lightning.deepblack.cloud
    #           - traefik.backend.loadbalancer.swarm=true
    #           - traefik.docker.network=traefik-network
    #           - traefik.enable=true
    #           - traefik.frontend.passHostHeader=true
    #           - traefik.port=5432
    #           - traefik.redirectorservice.frontend.entryPoints=http
    #           - traefik.redirectorservice.frontend.redirect.entryPoint=https
    #           - traefik.tags=traefik-network
    #           - traefik.webservice.frontend.entryPoints=https
networks:
    # insite-network:
    #     driver: overlay
    #     attachable: true
    staging-network:
        external: true
