version: '3.7'

services:
    # redis:
    #     image: redis
    #     ports:
    #       - 6380:6379
    #     volumes:
    #       - /nfs/pyromancer/Personal/Tony/CLOUD/redis/data:/data
    #     networks:
    #         - insite-network

    app:
        image: anthonyrawlinsuom/insite-dss
        # command: ['./wait-for-postgres.sh', 'postgreserver', 'node', 'monitor.js']
        command: ['node', 'monitor.js']
        ports:
          - 8181:8181
        environment:
          # - PGUSER=postgres
          # - PGHOST=10.101.95.197
          # - PGPASSWORD=sultanofflame
          # - PGDATABASE=WebFrostJobQueue_test1
          # - PGPORT=3211

          - PGUSER=postgres
          - PGHOST=192.168.1.181
          - PGPASSWORD=secret
          - PGDATABASE=postgres
          - PGPORT=5432

          - PROTOCOL=https
          - WEB=insite.lightning.deepblack.cloud
        volumes:
          # - /nfs/pyromancer/Projects/DSS/data/insite/queue:/usr/src/app/queue
          # - /nfs/pyromancer/Projects/DSS/data/insite/executable:/usr/src/app/executable
          - ./data/insite/queue:/usr/src/app/queue
          - ./data/insite/executable:/usr/src/app/executable
          - ./data/insite/database:/usr/src/app/database
        networks:
            - staging-network
            - insite-network
        deploy:
            placement:
                constraints:
                  - node.role == manager
                  - node.hostname == Charcoal
                  # - node.labels.NFS == attached
            labels:
              - "traefik.enable=true"
              - "traefik.http.routers.insite.rule=Host(`insite.lightning.deepblack.cloud`)"
              - "traefik.http.routers.insite.entrypoints=web-secured"
              - "traefik.http.routers.insite.tls.certresolver=letsencryptresolver"
              - "traefik.http.services.insite.loadbalancer.server.port=8181"
              - "traefik.http.services.insite.loadbalancer.passhostheader=true"
              - "traefik.docker.network=staging-network"


    postgreserver:
        image: postgres
        environment:
          - POSTGRES_USER=postgres
          - POSTGRES_PASSWORD=secret
          - PGPASSWORD=secret
          - POSTGRES_DB=postgres
          - PGDATA=/var/lib/postgresql/data/pgdata
        volumes:
          - ./data/insite/postgres:/var/lib/postgresql/data
        networks:
          - insite-network
        ports:
          - "5432:5432"
        deploy:
            mode: replicated
            replicas: 1
            placement:
                constraints:
                  - node.hostname == Charcoal
            labels:
              - traefik.frontend.rule=Host:postgreserver.lightning.deepblack.cloud
              - traefik.backend.loadbalancer.swarm=true
              - traefik.docker.network=traefik-network
              - traefik.enable=true
              - traefik.frontend.passHostHeader=true
              - traefik.port=5432
              - traefik.redirectorservice.frontend.entryPoints=http
              - traefik.redirectorservice.frontend.redirect.entryPoint=https
              - traefik.tags=traefik-network
              - traefik.webservice.frontend.entryPoints=https
networks:
    insite-network:
        driver: overlay
        attachable: true
    staging-network:
        external: true
