<div class="ui top_spaced container">

  <div
      class="ui top attached segment"
      style="margin-top: 70px;"
  >
    <table class="ui very basic table">
      <thead>
        <tr>
          <th class="collapsing"></th>
          <th>Queue ID</th>
          <th>Job Name</th>
          <th>Contact</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr
            *ngFor="let job of jobs"
            (click)="selectJob(job)"
            class="selectable_row"
        >

          <td class="collapsing"><i class="ui blue info circle icon"></i> </td>
          <td>{{ job.uuid }}</td>
          <td>{{ job.name }}</td>
          <td> {{ job.submitter_email }}</td>
          <td>
            {{ job.status }}
          </td>
        </tr>
      </tbody>
    </table>

    <div class="ui raised attached segment"><p>Found {{ jobs.length }} jobs.</p></div>

    <div
        class="ui raised bottom attached segment"
        *ngIf="selectedJob"
    >
      <div class="ui header">
        {{selectedJob.uuid}}
      </div>
      <div class="ui segment">
        <h4 class="ui header">User: {{selectedJob.submitter_name}}</h4>

        <p class="card-text">
          {{selectedJob.descr}}
        </p>
        <p>Submitted at: {{ selectedJob.submission_time | date}}</p>
        <p>Submitted by: {{ selectedJob.submitter_name }}</p>

      </div>
    </div>
  </div>
</div>


{{ jobs | json }}
