<div class="ui container top_spaced ">
  <div class="ui segment">
    <div class="ui center aligned text container">
      <h1 class="ui icon header">
        <img
            src="assets/insite.png"
            alt=""
            class="ui icon medium"
        >InSite</h1>
      <p>Version: {{ version}}</p>
      <h3>FROST for DELWP</h3>
      <p class="lead">
        This site alllows for basic CRUD operations and Job Scheduling for FROST, including default Post-Processing using Frappe.
      </p>
      <div class="ui button">View tutorial</div>
    </div>
  </div>
</div>